<header>
  <div class="mx-auto flex h-16 max-w-screen-xl items-center justify-between px-4 sm:px-6 lg:px-8">
    <div class="flex items-center space-x-2">
      <img class="w-auto h-7 sm:h-8" src="assets/barbelink.png">
      <p class="text-amber-600 dark:text-yellow-400">
        BARBELINK
      </p>
    </div>

    <div class="flex items-center gap-4">
      <div class="space-x-2">
        <a class="inline-block rounded-md bg-amber-400 px-5 py-2.5 text-sm font-medium text-black transition hover:bg-amber-600"
          href="login">
          Iniciar sesion
        </a>
        <a class="inline-block rounded-md bg-amber-400 px-5 py-2.5 text-sm font-medium text-black transition hover:bg-amber-600"
          href="register">
          Registro
        </a>
      </div>
    </div>
  </div>
</header>

<br>

<form class="max-w-md sm:max-w-sm mx-auto p-2 sm:p-4">
  <div class="relative">
    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
      <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 20 20">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
      </svg>
    </div>
    <input type="search" id="default-search" class="block w-full p-2 sm:p-4 ps-8 sm:ps-10 text-xs sm:text-sm text-white border
       border-gray-300 rounded-lg bg-black focus:ring-amber-500
        focus:border-amber-500 dark:bg-gray-700 dark:border-gray-600
         dark:placeholder-gray-400 dark:text-white" placeholder="Buenos Aires, Palermo" required />
    <button type="submit" class="text-black absolute end-2 bottom-2 bg-amber-400 hover:bg-amber-700 
      focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs sm:text-sm px-2 sm:px-4 
      py-1 sm:py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Buscar</button>
  </div>
</form>

<br>

<div class="px-4 md:px-16 lg:px-32">
  <div #fractionSlideCarousel class="fraction-slide-carousel">
    <h1 class="mx-auto text-white text-3xl">Recomendaciones</h1>
    <div class="w-full relative">
      <div class="swiper fraction-slide-carousel swiper-container relative">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="bg-neutral-950  rounded-2xl p-4 h-96 flex flex-col">
              <img src="assets/registro.png" alt="Peluqueria de pelos" class="rounded-t-2xl h-48 w-full object-cover">
              <div class="flex-grow p-4">
                <h2 class="text-white text-xl font-semibold">Peluqueria de pelos</h2>
                <p class="text-gray-400">Av. Rivadavia 3636, C1204...</p>
                <p class="text-white mt-2">$ 2.000 pesos</p>
                <div class="flex items-center mt-2">
                  <span class="text-yellow-400">★★★★★</span>
                  <span class="text-gray-400 ml-1">(120 Calificaciones)</span>
                </div>
                <button class="bg-amber-400  hover:bg-amber-600 text-black py-2 px-4 rounded-lg mt-4 w-full">Agendar cita</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="bg-neutral-950 rounded-2xl p-4 h-96 flex flex-col">
              <img src="assets/barbelink.png" alt="Barbería El Estilo" class="rounded-t-2xl h-48 w-full object-cover">
              <div class="flex-grow p-4">
                <h2 class="text-white text-xl font-semibold">Barbería El Estilo</h2>
                <p class="text-gray-400">Av. Rivadavia 3636, C1204...</p>
                <p class="text-white mt-2">$ 2.000 pesos</p>
                <div class="flex items-center mt-2">
                  <span class="text-yellow-400">★★★★★</span>
                  <span class="text-gray-400 ml-1">(120 Calificaciones)</span>
                </div>
                <button class="bg-amber-400  hover:bg-amber-600 text-black py-2 px-4 rounded-lg mt-4 w-full">Agendar cita</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="bg-neutral-950  rounded-2xl p-4 h-96 flex flex-col">
              <img src="assets/login.png" alt="El Corte Clásico" class="rounded-t-2xl h-48 w-full object-cover">
              <div class="flex-grow p-4">
                <h2 class="text-white text-xl font-semibold">El Corte Clásico</h2>
                <p class="text-gray-400">Av. Rivadavia 3636, C1204...</p>
                <p class="text-white mt-2">$ 2.000 pesos</p>
                <div class="flex items-center mt-2">
                  <span class="text-yellow-400">★★★★★</span>
                  <span class="text-gray-400 ml-1">(120 Calificaciones)</span>
                </div>
                <button class="bg-amber-400  hover:bg-amber-600 text-black py-2 px-4 rounded-lg mt-4 w-full">Agendar cita</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="bg-neutral-950  rounded-2xl p-4 h-96 flex flex-col">
              <img src="assets/barbelink.png" alt="Peluqueria de pelos" class="rounded-t-2xl h-48 w-full object-cover">
              <div class="flex-grow p-4">
                <h2 class="text-white text-xl font-semibold">Peluqueria de pelos</h2>
                <p class="text-gray-400">Av. Rivadavia 3636, C1204...</p>
                <p class="text-white mt-2">$ 2.000 pesos</p>
                <div class="flex items-center mt-2">
                  <span class="text-yellow-400">★★★★★</span>
                  <span class="text-gray-400 ml-1">(120 Calificaciones)</span>
                </div>
                <button class="bg-amber-400  hover:bg-amber-600 text-black py-2 px-4 rounded-lg mt-4 w-full">Agendar cita</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="bg-neutral-950  rounded-2xl p-4 h-96 flex flex-col">
              <img src="assets/promo1.png" alt="Barbería El Estilo" class="rounded-t-2xl h-48 w-full object-cover">
              <div class="flex-grow p-4">
                <h2 class="text-white text-xl font-semibold">Barbería El Estilo</h2>
                <p class="text-gray-400">Av. Rivadavia 3636, C1204...</p>
                <p class="text-white mt-2">$ 2.000 pesos</p>
                <div class="flex items-center mt-2">
                  <span class="text-yellow-400">★★★★★</span>
                  <span class="text-gray-400 ml-1">(120 Calificaciones)</span>
                </div>
                <button class="bg-amber-400  hover:bg-amber-600 text-black py-2 px-4 rounded-lg mt-4 w-full">Agendar cita</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="bg-neutral-950 rounded-2xl p-4 h-96 flex flex-col">
              <img src="assets/registro.png" alt="El Corte Clásico" class="rounded-t-2xl h-48 w-full object-cover">
              <div class="flex-grow p-4">
                <h2 class="text-white text-xl font-semibold">El Corte Clásico</h2>
                <p class="text-gray-400">Av. Rivadavia 3636, C1204...</p>
                <p class="text-white mt-2">$ 2.000 pesos</p>
                <div class="flex items-center mt-2">
                  <span class="text-yellow-400">★★★★★</span>
                  <span class="text-gray-400 ml-1">(120 Calificaciones)</span>
                </div>
                <button class="bg-amber-400  hover:bg-amber-600 text-black py-2 px-4 rounded-lg mt-4 w-full">Agendar cita</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>