<app-header></app-header>

<br>

<form class="px-4 max-w-md mx-auto bg-neutral-950" (ngSubmit)="onSearch()">
  <div class="flex gap-1 input">
    <button type="submit">
      <img src="assets/icons/Search.svg" class="opacity-60" />
    </button>
    <input type="text" id="default-search"
      class="w-full bg-transparent focus:ring-0 border-none text-neutral-00 placeholder-neutral-60"
      placeholder="Buscar barbería" (input)="onSearch()" required />
  </div>

  <!-- Mensaje de error si el usuario no está autenticado -->
  <small *ngIf="errorMessage" class="text-red-500">{{ errorMessage }}</small>

  <!-- Mostrar solo si hay resultados en la búsqueda -->
  <div *ngIf="filteredBarberias.length > 0" class="container mx-auto p-4 mt-4">
    <div *ngFor="let barberia of filteredBarberias" class="barberia-item">
      <div *ngFor="let barberia of filteredBarberias" class="barberia-item">
        <a [routerLink]="['/profile/barber', barberia.id]">{{ barberia.nombreBarberia }}</a>
      </div>      
    </div>
  </div>
</form>

<br>

<div class="px-4 md:px-16 lg:px-32">
  <div #fractionSlideCarousel class="fraction-slide-carousel">
    <h1 class="mx-auto text-white text-3xl">Recomendaciones</h1>
    <div class="w-full relative">
      <div class="swiper fraction-slide-carousel swiper-container relative">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="bg-neutral-950  rounded-2xl p-4 h-96 flex flex-col">
              <img src="assets/registro.png" alt="Peluqueria de pelos" class="rounded-t-2xl h-40 w-full object-cover">
              <div class="flex-grow p-4">
                <h2 class="text-white text-xl font-semibold">Peluqueria de pelos</h2>
                <p class="text-gray-400">Av. Rivadavia 3636, C1204...</p>
                <p class="text-white mt-2">$ 2.000 pesos</p>
                <div class="flex items-center mt-2">
                  <span class="text-yellow-400">★★★★★</span>
                  <span class="text-gray-400 ml-1">(120 Calificaciones)</span>
                </div>
                <button class="bg-amber-400  hover:bg-amber-600 text-black py-2 px-4 rounded-lg mt-4 w-full">Agendar
                  cita</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="bg-neutral-950 rounded-2xl p-4 h-96 flex flex-col">
              <img src="assets/barbelink.png" alt="Barbería El Estilo" class="rounded-t-2xl h-40 w-full object-cover">
              <div class="flex-grow p-4">
                <h2 class="text-white text-xl font-semibold">Barbería El Estilo</h2>
                <p class="text-gray-400">Av. Rivadavia 3636, C1204...</p>
                <p class="text-white mt-2">$ 2.000 pesos</p>
                <div class="flex items-center mt-2">
                  <span class="text-yellow-400">★★★★★</span>
                  <span class="text-gray-400 ml-1">(120 Calificaciones)</span>
                </div>
                <button class="bg-amber-400  hover:bg-amber-600 text-black py-2 px-4 rounded-lg mt-4 w-full">Agendar
                  cita</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="bg-neutral-950  rounded-2xl p-4 h-96 flex flex-col">
              <img src="assets/login.png" alt="El Corte Clásico" class="rounded-t-2xl h-40 w-full object-cover">
              <div class="flex-grow p-4">
                <h2 class="text-white text-xl font-semibold">El Corte Clásico</h2>
                <p class="text-gray-400">Av. Rivadavia 3636, C1204...</p>
                <p class="text-white mt-2">$ 2.000 pesos</p>
                <div class="flex items-center mt-2">
                  <span class="text-yellow-400">★★★★★</span>
                  <span class="text-gray-400 ml-1">(120 Calificaciones)</span>
                </div>
                <button class="bg-amber-400  hover:bg-amber-600 text-black py-2 px-4 rounded-lg mt-4 w-full">Agendar
                  cita</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="bg-neutral-950  rounded-2xl p-4 h-96 flex flex-col">
              <img src="assets/barbelink.png" alt="Peluqueria de pelos" class="rounded-t-2xl h-40 w-full object-cover">
              <div class="flex-grow p-4">
                <h2 class="text-white text-xl font-semibold">Peluqueria de pelos</h2>
                <p class="text-gray-400">Av. Rivadavia 3636, C1204...</p>
                <p class="text-white mt-2">$ 2.000 pesos</p>
                <div class="flex items-center mt-2">
                  <span class="text-yellow-400">★★★★★</span>
                  <span class="text-gray-400 ml-1">(120 Calificaciones)</span>
                </div>
                <button class="bg-amber-400  hover:bg-amber-600 text-black py-2 px-4 rounded-lg mt-4 w-full">Agendar
                  cita</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="bg-neutral-950  rounded-2xl p-4 h-96 flex flex-col">
              <img src="assets/promo1.png" alt="Barbería El Estilo" class="rounded-t-2xl h-40 w-full object-cover">
              <div class="flex-grow p-4">
                <h2 class="text-white text-xl font-semibold">Barbería El Estilo</h2>
                <p class="text-gray-400">Av. Rivadavia 3636, C1204...</p>
                <p class="text-white mt-2">$ 2.000 pesos</p>
                <div class="flex items-center mt-2">
                  <span class="text-yellow-400">★★★★★</span>
                  <span class="text-gray-400 ml-1">(120 Calificaciones)</span>
                </div>
                <button class="bg-amber-400  hover:bg-amber-600 text-black py-2 px-4 rounded-lg mt-4 w-full">Agendar
                  cita</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="bg-neutral-950 rounded-2xl p-4 h-96 flex flex-col">
              <img src="assets/registro.png" alt="El Corte Clásico" class="rounded-t-2xl h-40 w-full object-cover">
              <div class="flex-grow p-4">
                <h2 class="text-white text-xl font-semibold">El Corte Clásico</h2>
                <p class="text-gray-400">Av. Rivadavia 3636, C1204...</p>
                <p class="text-white mt-2">$ 2.000 pesos</p>
                <div class="flex items-center mt-2">
                  <span class="text-yellow-400">★★★★★</span>
                  <span class="text-gray-400 ml-1">(120 Calificaciones)</span>
                </div>
                <button class="bg-amber-400  hover:bg-amber-600 text-black py-2 px-4 rounded-lg mt-4 w-full">Agendar
                  cita</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--

<div style="width: 100%; height: 500px;">
  <google-map [center]="center" [zoom]="zoom" [options]="{ mapTypeId: 'roadmap' }">
      <map-marker *ngFor="let marker of markers" [position]="marker.position!" [title]="marker.title!">
      </map-marker>
    </google-map>
</div>

-->