<!-- Botón para abrir el modal -->
<div  *ngIf="isLoggedIn && !isBarber" class="flex justify-end mt-4">
    <button type="button" class="px-4 py-2 rounded-md bg-green-700 hover:bg-green-800 text-white" (click)="openModal()">
        Agendar turno
    </button>
</div>

<div  *ngIf="!isLoggedIn" class="flex justify-center mt-4">
    <button class="px-4 py-2 rounded-md bg-green-700 hover:bg-green-800 text-white">
        Por favor inicie sesion para solicitar un turno
    </button>
</div>
<!-- Modal -->
<!-- Modal -->
<div *ngIf="isModalOpen" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
    <div class="bg-neutral-900 p-6 rounded-lg w-96 relative">
        <div class="mb-4">
            <label class="block text-gray-400 mb-2">Seleccione una fecha</label>
            <select [(ngModel)]="selectedDate" class="bg-neutral-800 text-white p-2 rounded w-full">
                <option *ngFor="let date of fechasDisponibles" [value]="date">{{ date }}</option>
            </select>
        </div>
        <div class="mb-4">
            <label class="block text-gray-400 mb-2">Seleccione una hora</label>
            <select [(ngModel)]="selectedTime" class="bg-neutral-800 text-white p-2 rounded w-full">
                <option *ngFor="let time of availableTimes" [value]="time">{{ time }}</option>
            </select>
        </div>
        <div class="flex justify-end">
            <button (click)="crearTurno()" class="bg-amber-500 hover:bg-amber-600 text-black px-4 py-2 rounded">
                Guardar
            </button>
            <button (click)="closeModal()"
                class="bg-gray-700 hover:bg-gray-600 text-white px-4 py-2 rounded ml-2">Cancelar</button>
        </div>
    </div>
</div>

<br>

<div *ngIf="isLoggedIn" class="relative overflow-x-auto shadow-md sm:rounded-lg bg-amber-500">
    <table class="w-full text-sm text-left rtl:text-right bg-amber-500 text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-amber-500 dark:bg-gray-700 dark:text-gray-400">
            <tr>
             <!--
                <th scope="col" class="px-6 py-3 text-black">Cita</th>   
             -->

                <th scope="col" class="px-6 py-3 text-black">Dia</th>
                <th scope="col" class="px-6 py-3 text-black">Hora de la cita</th>
             <!--
                <th scope="col" class="px-6 py-3 text-black">Hora de finalización</th>   
             -->

                <th scope="col" class="px-6 py-3 text-black">Estado</th>
                <th *ngIf="esPropietario()" scope="col" class="px-6 py-3 text-black">Acciones</th>

            </tr>
        </thead>
        <tbody class="bg-amber-400">
            <tr *ngFor="let turno of turnos" class="border-b border-gray-200">
          <!---
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ turno.id }}
                </th>
          -->

                <td class="px-6 py-4 text-black">{{ turno.fechaTurno | date:'dd/MM/yy EEEE' }}</td>
                <td class="px-6 py-4 text-black">{{ turno.horaInicio | date:'shortTime' }}</td>
                <!-- Formatear la hora de inicio --
                <td class="px-6 py-4 text-black">{{ turno.horaFin | date:'shortTime' }}</td>
                <!-- Formatear la hora de cierre -->
                <td class="px-6 py-4 text-black text-center font-bold" [ngClass]="{
                    'bg-red-500 text-white': turno.estado === 'CANCELADO',
                    'bg-green-500 text-white': turno.estado === 'CONFIRMADO',
                    'bg-blue-500 text-white': turno.estado === 'RESERVADO'
                }">
                    {{ turno.estado }}
                </td>

                <td class="px-6 py-4 flex space-x-2">

                    <button *ngIf="turno.estado == 'RESERVADO' && esPropietario()" type="button"
                        class="px-4 py-2 rounded-md bg-red-700 hover:bg-red-800 text-white"
                        (click)="cancelarTurno(turno.id)">
                        Cancelar
                    </button>

                    <button *ngIf="turno.estado === 'RESERVADO' && !esCliente(turno.cliente_id) && !esBarber()" type="button"
                    class="px-4 py-2 rounded-md bg-slate-500 hover:bg-slate-600 text-white">
                    Reservado por otro cliente
                </button>

                    <button *ngIf="turno.estado === 'RESERVADO' && esCliente(turno.cliente_id)" type="button"
                    class="px-4 py-2 rounded-md bg-red-700 hover:bg-red-800 text-white"
                    (click)="cancelarTurno(turno.id)">
                    Cancelar
                </button>

                </td>



            </tr>
        </tbody>
    </table>
</div>