<div class="h-screen w-screen p-4 flex items-center justify-center">
    <div class="flex w-full full overflow-hidden bg-neutral-950 rounded-lg shadow-lg dark:bg-neutral-950">
        <div class="hidden bg-cover lg:block lg:w-1/2"
            style="background-image: url('assets/images/img-login.webp'); background-position: 70% 30%;"></div>
        <div class="w-full px-6 py-8 md:px-8 lg:w-1/2">

            <div class="flex justify-center">
                <div class="flex items-center space-x-2">
                    <img class="w-auto h-7 sm:h-8" src="assets/barbelink.png" alt="">
                    <a href="/" class="text-amber-600 dark:text-yellow-400">
                        BARBELINK
                    </a>
                </div>
            </div>
            <div class="flex items-center justify-between mt-4">
                <h1 class="mx-auto text-white text-3xl">¡Bienvenido!</h1>
            </div>

            <div class="flex items-center justify-between mt-4">
                <p class="mx-auto text-white text-lg text-center">Consigue el estilo que mereces, cerca de ti.
                    <br>
                    ¿Listo para un nuevo look?
                </p>
            </div>

 
        

            <form [formGroup]="loginForm" (ngSubmit)="iniciarSesion()">
                <div class="mt-4">
                    <input id="LoggingName" placeholder="Email" formControlName="email" class="block w-full px-4 py-2 border rounded-lg bg-black text-white dark:bg-black dark:text-neutral-50 dark:border-neutral-50
                    focus:ring-opacity-40 dark:focus:border-amber-400 focus:outline-none focus:ring" type="email"/>
                    <div
                        *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)">
                        <small *ngIf="loginForm.get('email')?.errors?.['required']" class="text-red-500">El
                            correo es obligatorio.</small>
                        <small *ngIf="loginForm.get('email')?.errors?.['email']" class="text-red-500">El correo
                            debe ser un formato válido.</small>
                    </div>
                </div>
                <div class="mt-4 relative">
                    <input id="loggingPassword" placeholder="Contraseña" formControlName="contrasena" 
                        class="block w-full px-4 py-2 border rounded-lg bg-black text-white 
                               dark:bg-black dark:text-neutral-50 dark:border-neutral-50 focus:ring-opacity-40 
                               dark:focus:border-amber-400 focus:outline-none focus:ring pr-10"
                        [type]="mostrarPassword ? 'text' : 'password'" />
                
                    <!-- Botón para mostrar/ocultar contraseña -->
                    <button type="button" (click)="togglePassword()" 
                        class="absolute inset-y-0 right-2 flex items-center px-3 text-gray-500">

                        <svg *ngIf="!mostrarPassword" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                          </svg>
                        
                          <svg xmlns="http://www.w3.org/2000/svg" *ngIf="mostrarPassword"  width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                            <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                            <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
                          </svg>
                    </button>
                </div>
                
                
                <br>
                <button type="submit" [disabled]="loginForm.invalid" [ngClass]="{'bg-amber-300 hover:bg-amber-400': loginForm.valid, 
                'bg-orange-300': loginForm.invalid}" class="w-full py-3 rounded-md text-black">
                    Iniciar sesión
                </button>
            </form>

            <div class="flex items-center justify-center space-x-2 mt-4">
                <span class="text-xs text-gray-500 dark:text-gray-400">¿No tienes cuenta?&nbsp;</span>
                <a href="/register" class="text-xs text-amber-500 dark:text-amber-400 hover:underline"> Cree una
                    cuenta</a>
            </div>
        </div>
    </div>
</div>