<div class="h-screen w-screen p-4 flex items-center justify-center">
    <div class="flex w-full full overflow-hidden bg-neutral-950 rounded-lg shadow-lg dark:bg-neutral-950">
        <div class="hidden bg-cover lg:block lg:w-1/2"
            style="background-image: url('assets/registro.png'); background-position: 70% 30%;"></div>
        <div class="w-full px-6 py-8 md:px-8 lg:w-1/2 max-h-[600px] overflow-y-auto mx-auto my-auto">
            <div class="flex justify-center">
                <div class="flex items-center space-x-2">
                    <img class="w-auto h-7 sm:h-8" src="assets/barberlink.png" alt="">
                    <p class="text-amber-600 dark:text-yellow-400">
                        BARBERLINK
                    </p>
                </div>
            </div>

            <div class="flex items-center justify-between mt-4">
                <h1 class="mx-auto text-white text-3xl">Empieza ahora</h1>
            </div>

            <div *ngIf="selectedRole === 'cliente'" class="flex items-center justify-between mt-4">
                <p class="mx-auto text-white text-lg text-center">Crea una cuenta para descubrir barberias
                    <br>
                    y reservar tu corte favorito
                </p>
            </div>

            <div *ngIf="selectedRole === 'barberia'" class="flex items-center justify-between mt-4">
                <p class="mx-auto text-white text-lg text-center">Crea un perfil para que
                    <br>
                    mas clientes encuentren tu negocio
                </p>
            </div>

            <div class="flex place-content-between gap-1">
                <button (click)="selectRole('cliente')"
                    [ngClass]="{'bg-amber-400 hover:bg-amber-500': selectedRole === 'cliente', 'bg-neutral-600 hover:bg-neutral-700': selectedRole !== 'cliente'}"
                    class="w-full py-3 rounded-md cursor-pointer ">
                    Cliente
                </button>
                <button (click)="selectRole('barberia')"
                    [ngClass]="{'bg-amber-400 hover:bg-amber-500': selectedRole === 'barberia', 'bg-neutral-600 hover:bg-neutral-700': selectedRole !== 'barberia'}"
                    class="w-full py-3 rounded-md cursor-pointer ">
                    Barberia
                </button>
            </div>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div *ngIf="selectedRole === 'cliente'">
                    <div class="mt-4">
                        <input id="LoggingName" placeholder="Nombre del usuario" formControlName="name"
                            class="block w-full px-4 py-2 border rounded-lg dark:bg-black dark:text-neutral-50 dark:border-neutral-50 focus:ring-opacity-40 dark:focus:border-amber-400 focus:outline-none focus:ring"
                            type="text" />
                        <div
                            *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty)">
                            <small *ngIf="registerForm.get('name')?.errors?.['required']" class="text-red-500">El nombre
                                es obligatorio.</small>
                            <small *ngIf="registerForm.get('name')?.errors?.['minlength']" class="text-red-500">El
                                nombre debe tener al menos 4 caracteres.</small>
                        </div>
                    </div>
                    <div class="mt-4">
                        <input id="LoggingEmailAddress" placeholder="Correo" formControlName="email"
                            class="block w-full px-4 py-2 border rounded-lg dark:bg-black dark:text-neutral-50 dark:border-neutral-50 focus:ring-opacity-40 dark:focus:border-amber-400 focus:outline-none focus:ring"
                            type="email" />
                        <div
                            *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)">
                            <small *ngIf="registerForm.get('email')?.errors?.['required']" class="text-red-500">El
                                correo es obligatorio.</small>
                            <small *ngIf="registerForm.get('email')?.errors?.['email']" class="text-red-500">El correo
                                debe ser un formato válido.</small>
                        </div>
                    </div>
                    <div class="mt-4">
                        <input id="LoggingTel" placeholder="Número de teléfono" formControlName="phone"
                            class="block w-full px-4 py-2 border rounded-lg dark:bg-black dark:text-neutral-50 dark:border-neutral-50 focus:ring-opacity-40 dark:focus:border-amber-400 focus:outline-none focus:ring"
                            type="number" inputmode="numeric" />
                        <div
                            *ngIf="registerForm.get('phone')?.invalid && (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty)">
                            <small *ngIf="registerForm.get('phone')?.errors?.['required']" class="text-red-500">El
                                número de teléfono es obligatorio.</small>
                            <small *ngIf="registerForm.get('phone')?.errors?.['minlength']" class="text-red-500">El
                                número de teléfono debe tener al menos 11 dígitos.</small>
                            <small *ngIf="registerForm.get('phone')?.errors?.['pattern']" class="text-red-500">El número
                                de teléfono debe ser un número válido.</small>
                        </div>
                    </div>
                    <div class="mt-4">
                        <input id="loggingPassword" placeholder="Contraseña" formControlName="password"
                            class="block w-full px-4 py-2 border rounded-lg dark:bg-black dark:text-neutral-50 dark:border-neutral-50 focus:ring-opacity-40 dark:focus:border-amber-400 focus:outline-none focus:ring"
                            type="password" />
                        <div
                            *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)">
                            <small *ngIf="registerForm.get('password')?.errors?.['required']" class="text-red-500">La
                                contraseña es obligatoria.</small>
                            <small *ngIf="registerForm.get('password')?.errors?.['minlength']" class="text-red-500">La
                                contraseña debe tener al menos 6 caracteres.</small>
                        </div>
                    </div>
                    <div class="mt-4">
                        <input id="loggingConfirmPassword" placeholder="Confirmar contraseña"
                            formControlName="confirmPassword"
                            class="block w-full px-4 py-2 border rounded-lg dark:bg-black dark:text-neutral-50 dark:border-neutral-50 focus:ring-opacity-40 dark:focus:border-amber-400 focus:outline-none focus:ring"
                            type="password" />
                        <div
                            *ngIf="registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.touched || registerForm.get('confirmPassword')?.dirty)">
                            <small *ngIf="registerForm.get('confirmPassword')?.errors?.['required']"
                                class="text-red-500">La confirmación de contraseña es obligatoria.</small>
                        </div>
                        <div
                            *ngIf="registerForm.errors?.['mismatch'] && (registerForm.get('confirmPassword')?.touched || registerForm.get('confirmPassword')?.dirty)">
                            <small class="text-red-500">Las contraseñas no coinciden.</small>
                        </div>
                    </div>
                </div>


                <div *ngIf="selectedRole === 'barberia'">
                    <div class="mt-4">
                        <input id="LoggingName" placeholder="Nombre del barbero o barberia" formControlName="name"
                            class="block w-full px-4 py-2 border rounded-lg dark:bg-black dark:text-neutral-50 dark:border-neutral-50 focus:ring-opacity-40 dark:focus:border-amber-400 focus:outline-none focus:ring"
                            type="text" />
                        <div
                            *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty)">
                            <small *ngIf="registerForm.get('name')?.errors?.['required']" class="text-red-500">El nombre
                                es obligatorio.</small>
                            <small *ngIf="registerForm.get('name')?.errors?.['minlength']" class="text-red-500">El
                                nombre debe tener al menos 4 caracteres.</small>
                        </div>
                    </div>
                    <div class="mt-4">
                        <input id="LoggingCUIT" placeholder="CUIT" formControlName="CUIT"
                            class="block w-full px-4 py-2 border rounded-lg dark:bg-black dark:text-neutral-50 dark:border-neutral-50 focus:ring-opacity-40 dark:focus:border-amber-400 focus:outline-none focus:ring"
                            type="number" inputmode="numeric" />
                        <div
                            *ngIf="registerForm.get('CUIT')?.invalid && (registerForm.get('CUIT')?.touched || registerForm.get('CUIT')?.dirty)">
                            <small *ngIf="registerForm.get('CUIT')?.errors?.['required']" class="text-red-500">El CUIT
                                es obligatorio.</small>
                        </div>
                    </div>
                    <div class="mt-4">
                        <input id="LoggingEmailAddress" placeholder="Correo" formControlName="email"
                            class="block w-full px-4 py-2 border rounded-lg dark:bg-black dark:text-neutral-50 dark:border-neutral-50 focus:ring-opacity-40 dark:focus:border-amber-400 focus:outline-none focus:ring"
                            type="email" />
                        <div
                            *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)">
                            <small *ngIf="registerForm.get('email')?.errors?.['required']" class="text-red-500">El
                                correo es obligatorio.</small>
                            <small *ngIf="registerForm.get('email')?.errors?.['email']" class="text-red-500">El correo
                                debe ser un formato válido.</small>
                        </div>
                    </div>
                    <div class="mt-4">
                        <input id="LoggingTel" placeholder="Número de teléfono" formControlName="phone"
                            class="block w-full px-4 py-2 border rounded-lg dark:bg-black dark:text-neutral-50 dark:border-neutral-50 focus:ring-opacity-40 dark:focus:border-amber-400 focus:outline-none focus:ring"
                            type="number" inputmode="numeric" />
                        <div
                            *ngIf="registerForm.get('phone')?.invalid && (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty)">
                            <small *ngIf="registerForm.get('phone')?.errors?.['required']" class="text-red-500">El
                                número de teléfono es obligatorio.</small>
                            <small *ngIf="registerForm.get('phone')?.errors?.['minlength']" class="text-red-500">El
                                número de teléfono debe tener al menos 11 dígitos.</small>
                            <small *ngIf="registerForm.get('phone')?.errors?.['pattern']" class="text-red-500">El número
                                de teléfono debe ser un número válido.</small>
                        </div>
                    </div>
                    <div class="mt-4">
                        <input id="loggingPassword" placeholder="Contraseña" formControlName="password"
                            class="block w-full px-4 py-2 border rounded-lg dark:bg-black dark:text-neutral-50 dark:border-neutral-50 focus:ring-opacity-40 dark:focus:border-amber-400 focus:outline-none focus:ring"
                            type="password" />
                        <div
                            *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)">
                            <small *ngIf="registerForm.get('password')?.errors?.['required']" class="text-red-500">La
                                contraseña es obligatoria.</small>
                            <small *ngIf="registerForm.get('password')?.errors?.['minlength']" class="text-red-500">La
                                contraseña debe tener al menos 6 caracteres.</small>
                        </div>
                    </div>
                    <div class="mt-4">
                        <input id="loggingConfirmPassword" placeholder="Confirmar contraseña"
                            formControlName="confirmPassword"
                            class="block w-full px-4 py-2 border rounded-lg dark:bg-black dark:text-neutral-50 dark:border-neutral-50 focus:ring-opacity-40 dark:focus:border-amber-400 focus:outline-none focus:ring"
                            type="password" />
                        <div
                            *ngIf="registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.touched || registerForm.get('confirmPassword')?.dirty)">
                            <small *ngIf="registerForm.get('confirmPassword')?.errors?.['required']"
                                class="text-red-500">La confirmación de contraseña es obligatoria.</small>
                        </div>
                        <div
                            *ngIf="registerForm.errors?.['mismatch'] && (registerForm.get('confirmPassword')?.touched || registerForm.get('confirmPassword')?.dirty)">
                            <small class="text-red-500">Las contraseñas no coinciden.</small>
                        </div>
                    </div>
                </div>
                <br>


                <button type="submit" [disabled]="registerForm.invalid" [ngClass]="{'bg-amber-300 hover:bg-amber-400': registerForm.valid, 
                'bg-orange-300': registerForm.invalid}" class="w-full py-3 rounded-md">
                    Registrarse
                </button>>
            </form>
            <div class="flex items-center justify-center space-x-2 mt-4">
                <span class="text-xs text-gray-500 dark:text-gray-400">¿Ya tienes cuenta?&nbsp;</span>
                <a href="/login" class="text-xs text-amber-500 dark:text-amber-400 hover:underline"> Inicia sesion</a>
            </div>
        </div>
    </div>
</div>