<div class="h-screen w-screen p-4 flex items-center justify-center">
    <div class="flex w-full full overflow-hidden bg-neutral-950 rounded-lg shadow-lg dark:bg-neutral-950">
        <div class="hidden bg-cover lg:block lg:w-1/2"
            style="background-image: url('assets/images/img-register.webp'); background-position: 70% 30%;"></div>
        <div class="w-full px-6 py-8 md:px-8 lg:w-1/2 max-h-[600px] overflow-y-auto mx-auto my-auto">
            <div class="flex justify-center">
                <div class="flex items-center space-x-2">
                    <img class="w-auto h-7 sm:h-8" src="assets/barbelink.png" alt="">
                    <a href="/" class="text-amber-600 dark:text-yellow-400">
                        BARBELINK
                    </a>
                </div>
            </div>

            <div class="flex items-center justify-between mt-4">
                <h1 class="mx-auto text-white text-3xl">Empieza ahora</h1>
            </div>

            <div *ngIf="selectedRole === 'cliente'" class="flex items-center justify-between mt-4">
                <p class="mx-auto text-white text-lg text-center">Crea una cuenta para descubrir barberias
                    <br>
                    y reservar tu corte favorito
                </p>
            </div>

            <div *ngIf="selectedRole === 'barberia'" class="flex items-center justify-between mt-4">
                <p class="mx-auto text-white text-lg text-center">Crea un perfil para que
                    <br>
                    mas clientes encuentren tu negocio
                </p>
            </div>

            <div class="flex place-content-between gap-1">
                <button (click)="selectRole('cliente')"
                    [ngClass]="{'bg-amber-400 hover:bg-amber-500': selectedRole === 'cliente', 'bg-neutral-600 hover:bg-neutral-700': selectedRole !== 'cliente'}"
                    class="w-full py-3 rounded-md cursor-pointer text-black ">
                    Cliente
                </button>
                <button (click)="selectRole('barberia')"
                    [ngClass]="{'bg-amber-400 hover:bg-amber-500': selectedRole === 'barberia', 'bg-neutral-600 hover:bg-neutral-700': selectedRole !== 'barberia'}"
                    class="w-full py-3 rounded-md cursor-pointer text-black ">
                    Barberia
                </button>
            </div>

            <form [formGroup]="registerForm" (ngSubmit)="registroCliente()">
                <div *ngIf="selectedRole === 'cliente'">
                    <div class="mt-4">
                        <input id="RegisterName" placeholder="Nombre del usuario" formControlName="nombreCompleto"
                            class="block w-full px-4 py-2 border rounded-lg bg-black dark:bg-black dark:text-neutral-50 dark:border-neutral-50 focus:ring-opacity-40 dark:focus:border-amber-400 focus:outline-none focus:ring"
                            type="text" />
                        <div
                            *ngIf="registerForm.get('nombreCompleto')?.invalid && (registerForm.get('nombreCompleto')?.touched || registerForm.get('nombreCompleto')?.dirty)">
                            <small *ngIf="registerForm.get('nombreCompleto')?.errors?.['required']"
                                class="text-red-500">El nombre es obligatorio.</small>
                            <small *ngIf="registerForm.get('nombreCompleto')?.errors?.['minlength']"
                                class="text-red-500">El nombre debe tener al menos 4 caracteres.</small>
                        </div>
                    </div>
                    <div class="mt-4">
                        <input id="RegisterEmaildireccion" placeholder="Correo" formControlName="email"
                            class="block w-full px-4 py-2 border rounded-lg bg-black dark:bg-black dark:text-neutral-50 dark:border-neutral-50 focus:ring-opacity-40 dark:focus:border-amber-400 focus:outline-none focus:ring"
                            type="email" />
                        <div
                            *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)">
                            <small *ngIf="registerForm.get('email')?.errors?.['required']" class="text-red-500">El
                                correo es obligatorio.</small>
                            <small *ngIf="registerForm.get('email')?.errors?.['email']" class="text-red-500">El correo
                                debe ser un formato válido.</small>
                        </div>
                    </div>
                    <div class="mt-4 relative">
                        <input id="RegisterTel" placeholder="Número de teléfono" formControlName="telefono"
                            class="block w-full px-4 py-2 border rounded-lg bg-black dark:bg-black dark:text-neutral-50 dark:border-neutral-50 focus:ring-opacity-40 dark:focus:border-amber-400 focus:outline-none focus:ring"
                            type="tel" (paste)="onPasteTelefono($event)" />
                        <div
                            *ngIf="registerForm.get('telefono')?.invalid && (registerForm.get('telefono')?.touched || registerForm.get('telefono')?.dirty)">
                            <small *ngIf="registerForm.get('telefono')?.errors?.['minlength']" class="text-red-500">El
                                numero de telefono le faltan digitos.</small>
                            <small *ngIf="registerForm.get('telefono')?.errors?.['maxlength']" class="text-red-500">El
                                numero de telefono debe de tener un formato valido.</small>
                            <small *ngIf="registerForm.get('telefono')?.errors?.['required']" class="text-red-500">El
                                número de teléfono es obligatorio.</small>
                            <br>
                            <small *ngIf="registerForm.get('telefono')?.errors?.['pattern']" class="text-red-500">El
                                número de teléfono debe ser un número válido (ejemplo: +54123456789).</small>
                        </div>
                    </div>
                    <div class="mt-4 relative">
                        <input id="RegisterPassword" placeholder="Contraseña" formControlName="contrasena"
                            class="block w-full px-4 py-2 border rounded-lg bg-black dark:bg-black dark:text-neutral-50 dark:border-neutral-50 focus:ring-opacity-40 dark:focus:border-amber-400 focus:outline-none focus:ring"
                            [type]="mostrarPassword ? 'text' : 'password'" />
                            <button type="button" (click)="togglePassword()" 
                            class="absolute inset-y-0 right-2 flex items-center px-3 text-gray-500">
    
                            <svg *ngIf="!mostrarPassword" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                              </svg>
                            
                              <svg xmlns="http://www.w3.org/2000/svg" *ngIf="mostrarPassword"  width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                                <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                                <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
                              </svg>
                        </button>
                        <div
                            *ngIf="registerForm.get('contrasena')?.invalid && (registerForm.get('contrasena')?.touched || registerForm.get('contrasena')?.dirty)">
                            <small *ngIf="registerForm.get('contrasena')?.errors?.['required']" class="text-red-500">La
                                contraseña es obligatoria.</small>
                            <small *ngIf="registerForm.get('contrasena')?.errors?.['minlength']" class="text-red-500">La
                                contraseña debe tener al menos 6 caracteres.</small>
                        </div>
                    </div>
                    <div class="mt-4 relative">
                        <input id="RegisterConfirmPassword" placeholder="Confirmar contraseña"
                            formControlName="confirmPassword"
                            class="block w-full px-4 py-2 border rounded-lg bg-black dark:bg-black dark:text-neutral-50 dark:border-neutral-50 focus:ring-opacity-40 dark:focus:border-amber-400 focus:outline-none focus:ring"
                            [type]="mostrarPassword ? 'text' : 'password'" />
                            <button type="button" (click)="togglePassword()" 
                            class="absolute inset-y-0 right-2 flex items-center px-3 text-gray-500">
    
                            <svg *ngIf="!mostrarPassword" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                              </svg>
                            
                              <svg xmlns="http://www.w3.org/2000/svg" *ngIf="mostrarPassword"  width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                                <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                                <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
                              </svg>
                        </button>
                        <div
                            *ngIf="registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.touched || registerForm.get('confirmPassword')?.dirty)">
                            <small *ngIf="registerForm.get('confirmPassword')?.errors?.['required']"
                                class="text-red-500">La confirmación de contraseña es obligatoria.</small>
                                <small *ngIf="registerForm.get('confirmPassword')?.errors?.['minlength']" class="text-red-500">La
                                    contraseña debe tener al menos 6 caracteres.</small>
                        </div>
                        <div
                            *ngIf="registerForm.errors?.['mismatch'] && (registerForm.get('confirmPassword')?.touched || registerForm.get('confirmPassword')?.dirty)">
                            <small class="text-red-500">Las contraseñas no coinciden.</small>
                        </div>
                    </div>
                    <br>
                    <button type="submit" [disabled]="registerForm.invalid"
                        [ngClass]="{'bg-amber-300 hover:bg-amber-400': registerForm.valid, 'bg-orange-300': registerForm.invalid}"
                        class="w-full py-3 rounded-md text-black">
                        Registrarse
                    </button>
                </div>
            </form>

            <form [formGroup]="registerBarberiaForm" (ngSubmit)="registroBarberia()">
                <div *ngIf="selectedRole === 'barberia'">
                    <div *ngIf="currentPage === 1">
                    
                        <div class="mt-4">
                            <input id="RegisterName" placeholder="Nombre del barbero o barberia"
                                formControlName="nombreBarberia"
                                class="block w-full px-4 py-2 border rounded-lg bg-black dark:bg-black dark:text-neutral-50 dark:border-neutral-50 focus:ring-opacity-40 dark:focus:border-amber-400 focus:outline-none focus:ring"
                                type="text" />
                            <div
                                *ngIf="registerBarberiaForm.get('nombreBarberia')?.invalid && (registerBarberiaForm.get('nombreBarberia')?.touched || registerBarberiaForm.get('nombreBarberia')?.dirty)">
                                <small *ngIf="registerBarberiaForm.get('nombreBarberia')?.errors?.['required']"
                                    class="text-red-500">El nombre es obligatorio.</small>
                                <small *ngIf="registerBarberiaForm.get('nombreBarberia')?.errors?.['minlength']"
                                    class="text-red-500">El nombre debe tener al menos 4 caracteres.</small>
                            </div>
                        </div>
                        <div class="mt-4">
                            <input id="RegistercuilResponsable" placeholder="CUIT" formControlName="cuilResponsable"
                                class="block w-full px-4 py-2 border rounded-lg bg-black dark:bg-black dark:text-neutral-50 dark:border-neutral-50 focus:ring-opacity-40 dark:focus:border-amber-400 focus:outline-none focus:ring"
                                type="number" (paste)="onPaste($event)" />
                                <div *ngIf="registerBarberiaForm.get('cuilResponsable')?.invalid && 
                                (registerBarberiaForm.get('cuilResponsable')?.touched || 
                                 registerBarberiaForm.get('cuilResponsable')?.dirty)">
                         <small *ngIf="registerBarberiaForm.get('cuilResponsable')?.errors?.['required']" 
                                class="text-red-500">
                             El CUIT es obligatorio.
                         </small>
                         <small *ngIf="registerBarberiaForm.get('cuilResponsable')?.errors?.['pattern']" 
                                class="text-red-500">
                             El CUIT debe contener exactamente 11 números.
                         </small>

                         <small *ngIf="showLettersError" class="text-red-500">Solo se permiten números en este
                            campo.</small>
                     </div>
                     
                        </div>
                        <div class="mt-4">
                            <input id="RegisterEmaildireccion" placeholder="Correo" formControlName="email"
                                class="block w-full px-4 py-2 border rounded-lg bg-black dark:bg-black dark:text-neutral-50 dark:border-neutral-50 focus:ring-opacity-40 dark:focus:border-amber-400 focus:outline-none focus:ring"
                                type="email" />
                            <div
                                *ngIf="registerBarberiaForm.get('email')?.invalid && (registerBarberiaForm.get('email')?.touched || registerBarberiaForm.get('email')?.dirty)">
                                <small *ngIf="registerBarberiaForm.get('email')?.errors?.['required']"
                                    class="text-red-500">El correo es obligatorio.</small>
                                <small *ngIf="registerBarberiaForm.get('email')?.errors?.['email']"
                                    class="text-red-500">El correo debe ser un formato válido.</small>
                            </div>
                        </div>
                        <div class="mt-4">
                            <input id="RegisterTel" placeholder="Número de teléfono" formControlName="telefono"
                            class="block w-full px-4 py-2 border rounded-lg bg-black dark:bg-black dark:text-neutral-50 dark:border-neutral-50 focus:ring-opacity-40 dark:focus:border-amber-400 focus:outline-none focus:ring"
                            type="tel" (paste)="onPasteTelefono($event)" />
                            <div
                                *ngIf="registerBarberiaForm.get('telefono')?.invalid && (registerBarberiaForm.get('telefono')?.touched || registerBarberiaForm.get('telefono')?.dirty)">
                                <small *ngIf="registerBarberiaForm.get('telefono')?.errors?.['minlength']"
                                    class="text-red-500">El numero de telefono le faltan digitos.</small>
                                <small *ngIf="registerBarberiaForm.get('telefono')?.errors?.['maxlength']"
                                    class="text-red-500">El numero de telefono debe de tener un formato valido.</small>
                                <small *ngIf="registerBarberiaForm.get('telefono')?.errors?.['required']"
                                    class="text-red-500">El número de teléfono es obligatorio.</small>
                                <br>
                                <small *ngIf="registerBarberiaForm.get('telefono')?.errors?.['pattern']"
                                    class="text-red-500">El número de teléfono debe ser un número válido (ejemplo:
                                    +54123456789).</small>
                            </div>
                        </div>
                  
                        <div class="mt-4 relative">
                            <input id="RegisterPassword" placeholder="Contraseña" formControlName="contrasena"
                                class="block w-full px-4 py-2 border rounded-lg bg-black dark:bg-black dark:text-neutral-50 dark:border-neutral-50 focus:ring-opacity-40 dark:focus:border-amber-400 focus:outline-none focus:ring"
                                [type]="mostrarPassword ? 'text' : 'password'" />
                                <button type="button" (click)="togglePassword()" 
                                class="absolute inset-y-0 right-2 flex items-center px-3 text-gray-500">
        
                                <svg *ngIf="!mostrarPassword" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                  </svg>
                                
                                  <svg xmlns="http://www.w3.org/2000/svg" *ngIf="mostrarPassword"  width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                                    <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                                    <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
                                  </svg>
                            </button>
                            <div
                                *ngIf="registerBarberiaForm.get('contrasena')?.invalid && (registerBarberiaForm.get('contrasena')?.touched || registerBarberiaForm.get('contrasena')?.dirty)">
                                <small *ngIf="registerBarberiaForm.get('contrasena')?.errors?.['required']" class="text-red-500">La
                                    contraseña es obligatoria.</small>
                                <small *ngIf="registerBarberiaForm.get('contrasena')?.errors?.['minlength']" class="text-red-500">La
                                    contraseña debe tener al menos 6 caracteres.</small>
                            </div>
                        </div>
                        <div class="mt-4 relative">
                            <input id="RegisterConfirmPassword" placeholder="Confirmar contraseña"
                                formControlName="confirmPassword"
                                class="block w-full px-4 py-2 border rounded-lg bg-black dark:bg-black dark:text-neutral-50 dark:border-neutral-50 focus:ring-opacity-40 dark:focus:border-amber-400 focus:outline-none focus:ring"
                                [type]="mostrarPassword ? 'text' : 'password'" />
                                <button type="button" (click)="togglePassword()" 
                                class="absolute inset-y-0 right-2 flex items-center px-3 text-gray-500">
        
                                <svg *ngIf="!mostrarPassword" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                  </svg>
                                
                                  <svg xmlns="http://www.w3.org/2000/svg" *ngIf="mostrarPassword"  width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                                    <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                                    <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
                                  </svg>
                            </button>
                            <div
                                *ngIf="registerBarberiaForm.get('confirmPassword')?.invalid && (registerBarberiaForm.get('confirmPassword')?.touched || registerBarberiaForm.get('confirmPassword')?.dirty)">
                                <small *ngIf="registerBarberiaForm.get('confirmPassword')?.errors?.['required']"
                                    class="text-red-500">La confirmación de contraseña es obligatoria.</small>
                                    <small *ngIf="registerBarberiaForm.get('confirmPassword')?.errors?.['minlength']" class="text-red-500">La
                                        contraseña debe tener al menos 6 caracteres.</small>
                            </div>
                            <div
                                *ngIf="registerBarberiaForm.errors?.['mismatch'] && (registerBarberiaForm.get('confirmPassword')?.touched || registerBarberiaForm.get('confirmPassword')?.dirty)">
                                <small class="text-red-500">Las contraseñas no coinciden.</small>
                            </div>
                        </div>
                        <br>
                        <button type="button" (click)="nextPage()"
                        [disabled]="registerBarberiaForm.get('nombreBarberia')?.invalid || 
                                   registerBarberiaForm.get('email')?.invalid || 
                                   registerBarberiaForm.get('telefono')?.invalid || 
                                   registerBarberiaForm.get('cuilResponsable')?.invalid || 
                                   registerBarberiaForm.get('contrasena')?.invalid || 
                                   registerBarberiaForm.get('confirmPassword')?.invalid || 
                                   (registerBarberiaForm.get('contrasena')?.value.length < 6) || 
                                   (registerBarberiaForm.get('confirmPassword')?.value.length < 6) || 
                                   (registerBarberiaForm.errors?.['mismatch'])"
                        [ngClass]="{
                            'bg-orange-300': registerBarberiaForm.get('nombreBarberia')?.invalid || 
                                             registerBarberiaForm.get('email')?.invalid || 
                                             registerBarberiaForm.get('telefono')?.invalid || 
                                             registerBarberiaForm.get('cuilResponsable')?.invalid || 
                                             registerBarberiaForm.get('contrasena')?.invalid || 
                                             registerBarberiaForm.get('confirmPassword')?.invalid || 
                                             (registerBarberiaForm.get('contrasena')?.value.length < 6) || 
                                             (registerBarberiaForm.get('confirmPassword')?.value.length < 6) || 
                                             (registerBarberiaForm.errors?.['mismatch']),
                            'bg-amber-300 hover:bg-amber-400': !(registerBarberiaForm.get('nombreBarberia')?.invalid || 
                                                                   registerBarberiaForm.get('email')?.invalid || 
                                                                   registerBarberiaForm.get('telefono')?.invalid || 
                                                                   registerBarberiaForm.get('cuilResponsable')?.invalid || 
                                                                   registerBarberiaForm.get('contrasena')?.invalid || 
                                                                   registerBarberiaForm.get('confirmPassword')?.invalid || 
                                                                   (registerBarberiaForm.get('contrasena')?.value.length < 6) || 
                                                                   (registerBarberiaForm.get('confirmPassword')?.value.length < 6) || 
                                                                   (registerBarberiaForm.errors?.['mismatch']))
                        }" class="w-full py-3 rounded-md text-black">
                        Siguiente
                    </button>
                    </div>
                    <div *ngIf="currentPage === 2">
                        <div class="mt-4" *ngIf="selectedRole === 'barberia'">
                         
                            <input id="Registerdireccion" placeholder="Dirección" formControlName="direccion"
                                class="block w-full px-4 py-2 border rounded-lg bg-black dark:bg-black dark:text-neutral-50 dark:border-neutral-50 focus:ring-opacity-40 dark:focus:border-amber-400 focus:outline-none focus:ring"
                                type="text" />
                            <div
                                *ngIf="registerBarberiaForm.get('direccion')?.invalid && (registerBarberiaForm.get('direccion')?.touched || registerBarberiaForm.get('direccion')?.dirty)">
                                <small *ngIf="registerBarberiaForm.get('direccion')?.errors?.['required']"
                                    class="text-red-500">La dirección es obligatoria.</small>
                                <small *ngIf="registerBarberiaForm.get('direccion')?.errors?.['minlength']"
                                    class="text-red-500">La dirección debe tener al menos 4 caracteres.</small>
                                <small *ngIf="registerBarberiaForm.get('direccion')?.errors?.['pattern']"
                                    class="text-red-500">La dirección solo puede contener letras, números, comas, puntos
                                    y guiones.</small>
                            </div>
                           
                            <div class="mt-4">
                                <input id="RegisterFotoPerfil" placeholder="URL de la foto de perfil" formControlName="fotoPerfil"
                                    class="block w-full px-4 py-2 border rounded-lg bg-black dark:bg-black dark:text-neutral-50 dark:border-neutral-50 focus:ring-opacity-40 dark:focus:border-amber-400 focus:outline-none focus:ring"
                                    type="text" />
                                <div *ngIf="registerBarberiaForm.get('fotoPerfil')?.invalid && (registerBarberiaForm.get('fotoPerfil')?.touched || registerBarberiaForm.get('fotoPerfil')?.dirty)">
                                    <small *ngIf="registerBarberiaForm.get('fotoPerfil')?.errors?.['required']" class="text-red-500">La URL de la foto es obligatoria.</small>
                                    <small *ngIf="registerBarberiaForm.get('fotoPerfil')?.errors?.['pattern']" class="text-red-500">La URL debe ser un enlace válido.</small>
                                    <small *ngIf="!imagenValida" class="text-red-500">La imagen no se pudo cargar. Por favor, verifica la URL o elige otra imagen.</small>
                               
                                </div>
                                <div *ngIf="registerBarberiaForm.get('fotoPerfil')?.value">
                                    <img [src]="registerBarberiaForm.get('fotoPerfil')?.value" alt="Foto de perfil" class="mt-4 w-32 h-32 object-cover rounded" />
                               </div>
                            </div>
                        
                        </div>
                        <br>
                     
                        <button type="button" (click)="nextPage()"
                        [disabled]="!imagenValida || registerBarberiaForm.get('direccion')?.invalid || registerBarberiaForm.get('fotoPerfil')?.invalid"
                        [ngClass]="{
                            'bg-orange-300': !imagenValida || registerBarberiaForm.get('direccion')?.invalid || registerBarberiaForm.get('fotoPerfil')?.invalid,
                            'bg-amber-300 hover:bg-amber-400': imagenValida && !registerBarberiaForm.get('direccion')?.invalid && !registerBarberiaForm.get('fotoPerfil')?.invalid
                        }"
                        class="w-full py-3 rounded-md text-black">
                        Siguiente
                    </button>
                        <button type="button" (click)="previousPage()"
                            class="w-full py-3 rounded-md bg-neutral-600 hover:bg-neutral-700  text-black">
                            Anterior
                        </button>
                    </div>
                    <div *ngIf="currentPage === 3">
                        <div class="mt-4">
                            <label for="message"
                                class="block mb-2 text-sm font-medium text-white dark:text-white">Descripción:</label>
                            <textarea id="message" rows="8" class="textarea" formControlName="descripcion"
                                class="block p-2.5 w-full text-sm text-white bg-black rounded-lg border border-gray-600 focus:ring-blue-500 focus:border-blue-500"></textarea>
                            <div
                                *ngIf="registerBarberiaForm.get('descripcion')?.invalid && (registerBarberiaForm.get('descripcion')?.touched || registerBarberiaForm.get('descripcion')?.dirty)">
                                <small *ngIf="registerBarberiaForm.get('descripcion')?.errors?.['required']"
                                    class="text-red-500">La descripción es obligatoria.</small>
                                <small *ngIf="registerBarberiaForm.get('descripcion')?.errors?.['minlength']"
                                    class="text-red-500">La descripción debe tener al menos 10 caracteres.</small>

                                <small *ngIf="registerBarberiaForm.get('descripcion')?.errors?.['maxlength']"
                                    class="text-red-500">La descripción debe tener al maximo 100 caracteres.</small>

                            </div>
                        </div>
                        <br>
                        <button type="button" (click)="nextPage()"
                            [disabled]="registerBarberiaForm.get('descripcion')?.invalid" [ngClass]="{
                        'bg-orange-300': registerBarberiaForm.get('descripcion')?.invalid,
                        'bg-amber-300 hover:bg-amber-400': !registerBarberiaForm.get('descripcion')?.invalid
                      }" class="w-full py-3 rounded-md text-black">
                            Siguiente
                        </button>
                        <button type="button" (click)="previousPage()"
                            class="w-full py-3 rounded-md bg-neutral-600 hover:bg-neutral-700 text-black">
                            Anterior
                        </button>
                    </div>
                    <div *ngIf="currentPage === 4">
                        <div class="mt-4">
                            <h2 class="text-white text-xl mb-4">Horario de atención</h2>
                            <p class="text-gray-400 mb-4">¿En qué horarios pueden atenderse los clientes?</p>
                            <p class="text-gray-400 mb-4">El tiempo máximo para atender a un cliente es de 1 hora</p>
                            <button type="button" (click)="openModal()" class="w-full py-3 rounded-md bg-neutral-700 hover:bg-neutral-600 text-white">
                                Registrar Horario
                            </button>
                            <p class="text-gray-400 mt-2" *ngIf="horarioSeleccionado">
                                Horario seleccionado: {{ horarioSeleccionado }}
                            </p>
                            <p class="text-gray-400 mt-2" *ngIf="!horarioSeleccionado">
                                Horario seleccionado: 
                            </p>
                            <br><br>
                            <div *ngFor="let fecha of fechas; let i = index" class="mb-2">
                                <div class="flex items-center p-3 rounded-lg bg-neutral-800">
                                    <div class="flex items-center">
                                        <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
                                            <input type="checkbox" name="toggle" id="toggle_{{i}}"
                                                class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer"
                                                [(ngModel)]="fecha.active" [ngModelOptions]="{standalone: true}">
                                            <label for="toggle_{{i}}"
                                                class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer">
                                            </label>
                                        </div>
                                        <span class="text-white">{{ fecha.name }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                   
                    
                        <br>
                    
                        <button type="submit" 

                        [disabled]="registerBarberiaForm.invalid || !hasSelectedfechas() || isSubmitting" 
                            [ngClass]="{
                                'bg-amber-300 hover:bg-amber-400': registerBarberiaForm.valid && hasSelectedfechas() && !isSubmitting,
                                'bg-orange-300': (registerBarberiaForm.invalid || !hasSelectedfechas() || isSubmitting)
                            }" 
                            class="w-full py-3 rounded-md text-black"
                            (click)="registrarBarberiaYAgregarHorario()">
                            Registrarse
                        </button>
                    
                        <button type="button" (click)="previousPage()"
                            class="w-full py-3 rounded-md bg-neutral-600 hover:bg-neutral-700  text-black">
                            Anterior
                        </button>
                    </div>

                    <!--Modal de horas-->
                    <div *ngIf="showModal" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center">
                        <div class="bg-neutral-900 p-6 rounded-lg w-96">
                            <div class="mb-4">
                                <label class="block text-gray-400 mb-2">Apertura:</label>
                                <div class="flex items-center">
                                    <select name="horaInicio" class="bg-neutral-800 text-white p-2 rounded mr-2">
                                        <option value="00">00</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                    </select>
                                  <!--
                                    <span class="text-white">:</span>
                                    <select name="minutos" class="bg-neutral-800 text-white p-2 rounded ml-2">
                                        <option value="00">00</option>
                                        <option value="30">30</option>
                                    </select>  
                                  -->
                                </div>
                            </div>
                            <div class="mb-4">
                                <label class="block text-gray-400 mb-2">Cierre:</label>
                                <div class="flex items-center">
                                    <select name="horaFin" class="bg-neutral-800 text-white p-2 rounded mr-2">
                                        <option value="00">00</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                    </select>
                                  <!--
                                    <span class="text-white">:</span>
                                    <select name="endTimeMinute" class="bg-neutral-800 text-white p-2 rounded ml-2">
                                        <option value="00">00</option>
                                        <option value="30">30</option>
                                    </select>  
                                  -->
                                </div>
                            </div>
                            <div class="flex justify-end">    
                                <button (click)="saveHours()" class="bg-amber-500 hover:bg-amber-600 text-black px-4 py-2 rounded">Guardar</button>
                                <button (click)="closeModal()" class="bg-gray-700 hover:bg-gray-600 text-black px-4 py-2 rounded mr-2">Cancelar</button>
                           </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="flex items-center justify-center space-x-2 mt-4">
                <span class="text-xs text-gray-500 dark:text-gray-400">¿Ya tienes cuenta?&nbsp;</span>
                <a href="/login" class="text-xs text-amber-500 dark:text-amber-400 hover:underline"> Inicia sesion</a>

                <br>
                <br>
            </div>
        </div>
    </div>



</div>